/* Body */
#flex {
    display: flex;
    width: 100%;
    flex-direction: row;
}


/* Titulo e Link Saiba Mais */
.descricao {
    position: relative;
    margin-top: 18vh;
    width: 40%;
    text-align: center;
}

.ajuda {
    width: 20%;
}

.descricao p {
    font-size: 30px;
    font-weight: bold;
}

.descricao a {
    text-decoration: none;
    color: rgb(209, 206, 0);
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid rgb(209, 206, 0);
    top: 10vh;
    position: relative;
    transition: all .5s;
}

.descricao a:hover {
    background-color: rgb(209, 206, 0);
    color: rgb(36, 36, 36);
    font-size: 30px;
}


/* Imagem BemTeVi */
#img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#img img {
    max-width: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}