/* Textos */


#flexInicio {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.descricao {
    position: relative;
    top: 18vh;
    display: block-flex;
    width: 30%;
    margin-left: 10vw;
    text-align: center;
}

.descricao p{
    width: 110%;
    color: #e9e9e9;
    font-size: 30px;
    font-weight: bold;
    font-family: Segoe UI;
}

.descricao a {
    text-decoration: none;
    color: rgb(209, 206, 0);
    font-size: 28px;
    font-family: Calibri;
    font-weight: bold;
    padding: 20px 20px;
    border-width: thin;
    border-style: solid;
    border-color: rgb(209, 206, 0);
    left: 1.3vw;
    top: 10vh;
    position: relative;
    transition: all .5s;
}

.descricao a:hover{
    background-color: rgb(209, 206, 0);
    color: rgb(36, 36, 36);
    font-size: 30px;
}

#imgInicio {
    width: 42%;
    position: relative;
    top: 12vh;
    text-align: right;
    right: -38px;
}

#imgInicio img {
    max-width: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
}

footer{
    font-size: 13px;
    text-align: center;
    color: #e9e9e9;
    margin-top: 20vh;
    bottom: 0px;
    position: absolute;
    display: block;
}
