/* Titulo */
#tituloInicial {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 20vh;
}

#tituloInicial h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: max(20px, 3vw);
    color: #e9e9e9;
    width: 70%;
    position: relative;
}

/* Naturalidade */
.flex {
    display: flex;
    flex-direction: row;
    margin-top: 20vw;
}

.titulo {
    font-size: max(18px, 3vw);
    color: #e9e9e9;
    width: 100%;
    text-align: center;
    position: relative;
    display: inline;
}

.texto {
    display: block-flex;
    width: 42%;
}

.texto h1 {
    font-size: max(18px, 2.5vw);
}

.texto p{
    margin-top: 5vh;
    position: relative;
    font-size: max(15px, 1.6vw);
}

.img-flex {
    width: 30%;
    position: relative;
}

.img-flex img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;

}

.img-flex:hover img {
    transform: scale(1.1);
}


/* Audio */
#audio {
    font-size: max(12px, 1.4vw);
    width: 100%;
    margin-top: 10vw;
    position: relative;
    text-align: center;
    padding: 20px;
    display: block;
}

#audio #texto {
    font-size: max(12px, 1.4vw);
    position: relative;
    display: block-flex;
    text-align: center;
    width: 70%;
}

#audio audio{
    margin-top: 10vh;
    position: relative;
    width: 40%;
    display: block;
}